Lists are ordered sequences that can hold a variety of object types.
* They use [] brackets and commas to separate objects in the list.
[1,2,3,4,5]
* Lists support indexing and slicing.
* Lists can be nested and also have a variety of useful methods that can be called off of them.

In [37]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

In [38]:
#We just created a list of integers, but lists can actually hold different object types. For example:
my_list = ['A string',23,100.232,'o']

In [39]:
#the len() function will tell you how many items are in the sequence of the list.
len(my_list)

4

## Indexing and Slicing
Indexing and slicing work just like in strings. Let's make a new list to remind ourselves of how this works:

In [40]:
my_list = ['one','two','three',4,5]

# Grab element at index 0
my_list[0]

'one'

In [41]:
# Grab index 1 and everything past it
my_list[1:]

['two', 'three', 4, 5]

In [42]:
# Grab everything UP TO index 3
my_list[:3]

['one', 'two', 'three']

In [43]:
#We can also use + to concatenate lists, just like we did for strings.
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

<b>Note:</b> This doesn't actually change the original list!

In [44]:
my_list

['one', 'two', 'three', 4, 5]

You would have to reassign the list to make the change permanent.

In [45]:
# Reassign
my_list = my_list + ['add new item permanently']
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

In [46]:
# Make the list double
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 'add new item permanently',
 'one',
 'two',
 'three',
 4,
 5,
 'add new item permanently']

In [47]:
# Again doubling not permanent
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

## Basic List Methods

Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons: they have no fixed size and no fixed type constraint.

Let's go ahead and explore some more special methods for lists:

In [48]:
# Create a new list
list1 = [1,2,3]

Use the **append()** method to permanently add an item to the end of a list:

In [49]:
# Append
list1.append(4)
list1.append('append me!')

In [50]:
list1

[1, 2, 3, 4, 'append me!']

Use **pop(**) to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off.

In [51]:
# Pop off the 0 indexed item
list1.pop(2)

3

In [52]:
list1

[1, 2, 4, 'append me!']

In [53]:
#Pop off the last element (by default)
list1.pop()
list1

[1, 2, 4]

In [54]:
# Assign the popped element, remember default popped index is -1
popped_item = list1.pop()
popped_item

4

In [55]:
list1

[1, 2]

lists indexing will return an error if there is no element at that index.

In [56]:
list1[10]

IndexError: list index out of range

We can use the sort method and the reverse methods to also effect your lists:

In [57]:
new_list = ['a','e','x','b','c']
#Show
new_list

['a', 'e', 'x', 'b', 'c']

In [58]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

new_list

['c', 'b', 'x', 'e', 'a']

In [59]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

new_list

['a', 'b', 'c', 'e', 'x']

In [60]:
new_list_num = [4,1,18,3]

new_list_num.sort()
new_list_num

[1, 3, 4, 18]

## Nesting Lists
A great feature of of Python data structures is that they support nesting. This means we can have data structures within data structures. For example: A list inside a list.

In [61]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [62]:
# Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [63]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [64]:
# Grab first item of the first item in the matrix object
matrix[0][0]

1

## List Comprehensions
Python has an advanced feature called list comprehensions. They allow for quick construction of lists. To fully understand list comprehensions we need to understand for loops.

In [65]:
# Build a list comprehension by deconstructing a for loop within a []
first_col = [row[0] for row in matrix]

In [66]:
first_col

[1, 4, 7]

list comprehension used here to grab the first element of every row in the matrix object.

**Question :**
1. How do I index a nested list? For example if I want to grab 2 from [1,1,[1,2]]?

-  You would just add another set of brackets for indexing the nested list.<br>
   for example: my_list[2][1] .